@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap");
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  --primary: #e3dfd6;
  --secondary: #ff5757;
}

body {
  font-family: "Inter", sans-serif;
}

h2 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-size: 35px;
  height: fit-content;
  padding-left: 20px;
  margin-left: 20px;
  margin-bottom: 50px;
  border-left: 2px solid black;
}

/* HEADER */
header {
  position: fixed;
  width: 100%;
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
header img {
  height: 80px;
  width: 160px;
  margin: 20px;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

#hamburger {
  display: none;
}
.menu-toggle {
  display: none;
  border: none;
  margin-right: 50px;
}

nav ul li {
  display: inline-block;
  padding-right: 50px;
  color: var(--secondary);
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

nav ul li:hover {
  font-weight: bold;
  cursor: pointer;
  font-size: large;
}

/* MAIN */

/* first section */
main {
  position: relative;
  top: 110px;
  background-color: var(--primary);
}

.first-section {
  width: 100%;
  height: 600px;
  padding-top: 10%;
  background-image: url(/photos/blured.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.first-section h1 {
  color: rgb(0, 0, 0);
  width: fit-content;
  margin: auto;
  font-size: 40px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
}

.first-section button {
  background-color: var(--secondary);
  color: white;
  border: none;
  padding: 10px;
  margin-top: 20px;
  height: 55px;
  font-size: 20px;
  border-radius: 2rem;
}

.first-section button:hover {
  cursor: pointer;
}
.first-section button:active {
  box-shadow: 2px 2px 2px black;
  font-weight: 600;
}

/* second section */

.second-section {
  /* background-color: var(--primary); */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.second-section article {
  width: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.second-section h2 {
  height: fit-content;
  border-left: 2px solid black;
  color: black;
}

.second-section article div {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 500px;
  height: 500px;
  position: relative;
}

#first {
  background-image: url(/photos/weights.jpg);
}

#second {
  background-image: url(/photos/pexels-mikhail-nilov-7530005.jpg);
}

#third {
  background-image: url(/photos/pexels-ekrulila-2293019.jpg);
}
#fourth {
  background-image: url(/photos/pexels-kampus-production-8173439.jpg);
}
.second-section article h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(124, 124, 124, 0.8);
  bottom: 0;
  width: 100%;
  height: 100px;
  position: absolute;
  font-size: 25px;
  text-align: center;
}

/* third section */

.div-h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.third-section p h2 {
  border-left: 2px solid black;
}

.third-section-article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.img-1 {
  background-image: url(photos/activebreak.jpeg);
  width: 400px;
  height: 350px;
  background-position: center;
  background-size: cover;
}
.img-2 {
  background-image: url(photos/training.jpeg);
  width: 400px;
  height: 350px;
  background-position: center;
  background-size: cover;
}
.img-3 {
  background-image: url(photos/training-plan.jpg);
  width: 400px;
  height: 350px;
  background-position: center;
  background-size: cover;
}

h4 {
  color: var(--secondary);
}

/*fourth section*/
.fourth-section {
  height: 700px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.article-pink {
  background-color: var(--secondary);
  grid-row: 1/3;
  grid-column: 1/3;
  color: rgb(255, 255, 255);
  padding: 100px;
  font-family: "Inter", sans-serif;
}
.article-pink h2 {
  border-left: 2px solid rgb(255, 255, 255) !important;
  font-size: 45px;
}

.pink-p {
  width: 500px;
}

.article-pink button {
  border: 2px solid black;
  border-radius: 2rem;
  margin-top: 20px;
  background-color: rgb(0, 0, 0);
  color: var(--primary);
  padding: 10px;
}

.article-pink button:hover {
  cursor: pointer;
}

.article-pink button:active {
  box-shadow: 2px 2px 2px var(--primary);
  font-weight: 600;
}

.article-1 {
  background-image: url(/photos/Untitled\ design.png);
  background-size: cover;
  background-position: center;
  grid-row: 1/4;
}

.article-2 {
  background-image: url(/photos/pexels-pixabay-416778.jpg);
  background-size: cover;
  grid-column: 1/3;
  background-position: center;
}

/* fifth section */

.fifth-section {
  background-image: url(/photos/victor-freitas-841130.jpg);
  height: 700px;
  background-position: center;
  background-size: cover;
  padding: 80px;
}

.fifth-section h2 {
  width: 300px;
  text-align: left;
  color: var(--secondary);
  border-left: 3px solid var(--primary) !important;
  font-size: 45px;
}
.container-fifth {
  color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container-fifth div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-fifth div p {
  font-size: 25px;
  padding: 20px;
  width: 500px;
}

h5 {
  color: var(--secondary);
  font-size: 80px;
}

/* FOOTER */

footer {
  background-image: url(/photos/pixabay-37351.jpg);
  background-size: cover;
  height: 700px;
  color: var(--primary);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer div h2 {
  margin-top: 50px;
  margin-left: 0;
  font-size: 40px;
  color: var(--secondary);
  border-left: 3px solid var(--primary) !important;
}

footer div p {
  margin-top: 50px;
  font-size: 20px;
}
/***********************************/
/* for every */
section {
  padding-top: 50px;
}
@media only screen and (max-width: 920px) {
  .menu-toggle {
    color: red;
    display: block;
  }

  .menu {
    color: #ff5757;
    display: none; /* initially hide the menu */
  }

  .menu-open .menu {
    display: block; /* show the menu when the .menu-open class is added to the menu */
  }

  .second-section article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .article-pink {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: flex-start;
  }
  .container-fifth div p {
    width: fit-content;
    font-size: 18px;
  }
  footer {
    display: block;
    padding: 80px;
  }

  footer div p {
    padding: 0;
    margin-top: 0;
  }
  footer div:nth-child(1) {
    margin-top: 100px;
  }
  .second-section div {
    width: 100%;
  }
}
